.label {
    -fx-text-fill: #000000;
    -fx-font-size: 13px;
    -fx-font-family: "Poppins Medium";
    -fx-font-smoothing-type: lcd;
}

.mfx-radio-button {
    -fx-background-radius: 14px;
    -fx-background-color: rgba(0, 0, 0, 0.0);
    -fx-border-radius: 14px;
    -fx-border-width: 5px;
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-font-smoothing-type: lcd;
}

.mfx-radio-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-font-smoothing-type: lcd;
}

#root {
    -fx-background-color: #7a0ed9;
    -fx-font-smoothing-type: lcd;
}

#pane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 14px;
    -fx-border-radius: 14px;
    -fx-font-smoothing-type: lcd;
}

#headerLabel {
    -fx-text-fill: #7a0ed9;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

#nameField,
#emailField,
#idField,
#passField,
#confirmPassField,
#createButton {
    -fx-border-radius: 22px;
    -fx-background-radius: 22px;
    -fx-font-smoothing-type: lcd;
}

#createButton {
    -fx-background-color: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bolder;
    -fx-font-size: 15px;
    -fx-font-smoothing-type: lcd;
}

#createButton:pressed {
    -fx-background-color: linear-gradient(to right, #8E2DE2, #4A00E0);
    -fx-font-smoothing-type: lcd;
}

#signUpAsLabel{
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#passField:invalid {
    -fx-border-color: -mfx-red;
}

#passField:invalid .floating-text {
    -fx-text-fill: -mfx-red;
}

#passField:invalid .mfx-font-icon {
    -mfx-color: -mfx-red;
}

#validationLabel {
    /*-fx-font-family: 'Open Sans SemiBold';*/
    -fx-font-size: 11;
    -fx-text-fill: #ef6e6b;
}

#confirmPassField:invalid {
    -fx-border-color: -mfx-red;
}

#confirmPassField:invalid .floating-text {
    -fx-text-fill: -mfx-red;
}

#confirmPassField:invalid .mfx-font-icon {
    -mfx-color: -mfx-red;
}

#confirmValidationLabel {
    /*-fx-font-family: 'Open Sans SemiBold';*/
    -fx-font-size: 11;
    -fx-text-fill: #ef6e6b;
}
