.root{
    -fx-background-color: linear-gradient(to right, #2980B9, #6DD5FA)
}

#bb {
    -fx-background-color: transparent;
}

#gobcktomain,
#retyr{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 24px;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

#gobcktomain:hover,
#retyr:hover{
    -fx-background-color: linear-gradient(to right, #2980B9, #6DD5FA);
    -fx-border-width: 1px;
    -fx-border-color: black;
}

