#root{
    /*-fx-background-color: radial-gradient(center 50% 100%, radius 50%, #0f0c29, #302b63, #24243e);*/
    -fx-background-color: #f5f6fa;
}

.selected-label {
    /*-fx-background-color: #b3d1ff; !* or any color to indicate selection *!*/
    -fx-background-color: #e5f1ff; /* or any color to indicate selection */
    -fx-border-color: #056efe;
    -fx-border-width: 2;
    -fx-border-radius: 12;
}

#leftPane{
    -fx-background-color: white;
    -fx-background-radius: 18px;
    /*-fx-background-color: linear-gradient(to bottom, #00b09b, #96c93d);*/


}

#topPane,
#basePane{
    -fx-background-color: #e9eff7;
}
#pane1,
#pane2,
#pane3 {
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-font-size: 25px;
    -fx-font-family: "Poppins Medium";
}
#label3{
    -fx-text-alignment: center;
}
#copyPane1{
    -fx-background-color: white;
    -fx-background-radius: 18px;
}
#copyPane2{
    -fx-background-color: white;
    -fx-background-radius: 18px;
}
#copyPane3{
    -fx-background-color: white;
    -fx-background-radius: 18px;
}
#copyPane4{
    -fx-background-color: white;
    -fx-background-radius: 18px;
}
#arrow1,
#arrow2,
#arrow3,
#arrow4{
    -fx-background-color: #78fadb;
    -fx-background-radius: 18px;
}

#notiPane{
    -fx-background-color:white;
    -fx-background-radius: 18px;
}
#course1,
#course2,
#course3,
#course4,
#course11,
#course21,
#course31,
#course41,
#blogcourse1,
#blogcourse2{
    -fx-background-color: linear-gradient(to right, #FFEFBA, #FFFFFF);
}
.bgbasePane1{
    -fx-background-image: url("../images/student/bg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

#dashBoardButton:hover,
#enrollButton:hover,
#progressButton:hover{
    /*-fx-background-color: linear-gradient(to right, #0f0c29, #302b63, #24243e);*/
    /*-fx-background-radius: 12;*/
    /*-fx-border-radius: 12;*/
    /*-fx-background-color: e5f1ff;*/
    /*-fx-cursor: hand;*/
    /*-fx-font-smoothing-type: lcd;*/
    -fx-background-color: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bolder;
    -fx-font-size: 15px;
    -fx-border-radius: 22px;
    -fx-background-radius: 22px;
}

#generateCatBtn{
    -fx-background-color: linear-gradient(to right, #C6FFDD, #FBD786, #f7797d);
    -fx-background-radius: 18;
    -fx-font-size: 20px;
    -fx-font-family: "Comic Sans MS";
}

#generateCatBtn:hover{

}
#seeAll1,
#seeAll2,
#complainButton,
#enButton,
#ec,
#physics,
#vector,
#dld,
#pl1,
#pl2,
#m1,
#pl11,
#ec1,
#m2,
#pl12,
#vec,
#mk,
#pl13,
#cm3,
#m4,
#back1,
#back2,
#back3,
#back4,
#submitButton,
#return1,
#return11,
#enButton{
    -fx-cursor: hand;
    -fx-font-smoothing-type: lcd;
}